practica final/workflows/RAG - Ingesta.json
{
  "name": "RAG - Ingesta",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7616d351-0745-416e-8e0a-7db2f69a8e24",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        752,
        272
      ],
      "id": "31bc7590-b9e8-4ed9-bff6-d0a359a9365a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        752,
        480
      ],
      "id": "9e545dfd-e723-440f-8fad-ada5e390a837",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        608,
        288
      ],
      "id": "d1cec8fa-b02b-441d-88b0-23d013f7ff8c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qJNeu2JVcnMjxa5b",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "asistente-tfg",
          "mode": "list",
          "cachedResultName": "asistente-tfg"
        },
        "embeddingBatchSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        608,
        0
      ],
      "id": "26db3280-2cb6-4be6-b27e-81a8c6b4d509",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "bHZNC7cVaN4YSZF3",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        0
      ],
      "id": "43b3a5e6-5d06-40a2-b1a8-c41c54e9ca23",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p7rxEwKxDdJPuugL",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1BrIAffS0oxpzomTTSuKElq3TuamQb0S8",
            "mode": "list",
            "cachedResultName": "TFG_RAG_Documentos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1BrIAffS0oxpzomTTSuKElq3TuamQb0S8"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "47d26fbe-3f1f-4735-8860-a19cbcec4ee3",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p7rxEwKxDdJPuugL",
          "name": "Google Drive OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a90e840f-7505-4afc-8f48-014727c4fe41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9cfb87fc48162a94c48c85236810482c8cde3400c950f38f885f1fd9f2bdc742"
  },
  "id": "9cduIrMlTmYuNvqu",
  "tags": []
}